:root {
    --bs-primary: #4CAF50;
    --bs-primary-rgb: 76, 175, 80;
    --bs-body-font-family: 'Sarabun', sans-serif;
    --bs-body-bg: #f4f4f9;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: #388E3C;
    --bs-btn-hover-border-color: #388E3C;
    --bs-btn-active-bg: #327a35;
    --bs-btn-active-border-color: #327a35;
}

/* Header Styles */
header #user-filter-section {
    flex-basis: 150px;
    margin: 0 0.5rem;
}
header #date-filter-section {
    display: flex;
    gap: 0.5rem;
    flex-basis: 220px;
    margin: 0 0.5rem;
}
#logged-in-controls .btn {
    padding: 0.25rem 0.5rem;
}

/* Task Card Styles */
.task-card .card-body { position: relative; padding-right: 45px; }
.task-card { border-left: 5px solid var(--bs-primary); }
.task-actions { position: absolute; top: 0.5rem; right: 0.5rem; }

/* FAB Style */
.fab { position: fixed; width: 60px; height: 60px; bottom: 20px; right: 20px; font-size: 2rem; line-height: 1.5; z-index: 1030; }

/* User Management Modal Style */
#user-list-table-container select.form-select-sm { max-width: 120px; }
